.paper {
    font-family: Ubuntu;
    margin: 10px;
    padding: 10px;
}

.header {
    background-color: rgb(100, 100, 100);
    color: rgb(200, 200, 200);
    margin: 10px;
    padding: 10px;
}

.section {
    background-color: rgb(200, 200, 200);
    color: rgb(80, 80, 80);
    margin: 10px;
    padding: 10px;
}

.clickable {
    cursor: pointer;
}

.collapsable {
    display: none;
    /* background-color: rgb(220, 220, 220); */
}

a {
    color: black;
    text-decoration: underline;
}

a:hover, a:focus {
    color: rgb(50, 50, 50);
}
